/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-giu-2018, 16.37.15
    Author     : weatherly
*/


.ordering-form {
    border: 1px solid #CCC;
    border-radius: 4px;
    width: fit-content;
    margin-top: 10px;
}


#search-select {
    display: inline !important;
    width: auto !important;
}

#search-select1 {
    max-width: 250px;
}

.imageList{
    max-width: 100%;
    max-height: 120px;
    height: auto;
}

.card{
    border: 1px solid #CCC;
    border-radius: 8px 8px;
    margin-bottom: 10px !important;
}


.search-form{
    margin-bottom: 10px !important ;
}

.selezione {
    border-radius: 0 4px 4px 0 !important;
}

.myColumn{
    margin-top: 20px;
}

.form-control1{
    margin-top: 10px;
}

.bottone-cerca {
    margin-top: 10px;
}

.search{
    font-size: 20px !important;
    margin-left: 5px;
}

select {
    border-radius: 4px;
    font-size: 16px !important;
}

.myButton {
    border-radius: 0 4px 4px 0;
    border: none;
    color: white;
    outline: 0;
    display: inline-block;
    background-color: #222;
    text-align: center;
    cursor: pointer;
    height: 24px;
    width: 24px;
    font-size: 10px;
}


.myButton3{
    background-color: #222 !important;
    border: none !important;
    outline: 0;
}

.btn-secondary {
    border: none !important;
    outline: 0;
}

.myButton3:hover {
    opacity: 0.7;
}

.btn-secondary:hover {
    opacity: 0.7;
}

.myButton:hover {
    opacity: 0.7;
}

.cerca {
    width: 400px;
}


.lista1, .shop1 {
    margin-left: 6px;
    margin-bottom: 0;
}

.add-lista {
    border: 1px solid #CCC;
    border-radius: 4px;
    width: fit-content;
    margin-top: 10px;
}

.aggiungi {
    margin-left: 5px;
    margin-bottom: 0px;
}

@media (max-width: 475px) {
    .aggiungi {
        display: none;
    }
    .myButton {
        border-radius: 4px;
    }
}

.scegliLista {
    padding-bottom: 10px;
}

.amount {
    width: 30%;
    margin: 0;
}

.bootstrap-touchspin {
    width: 70%;
}