/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ago-2018, 18.55.28
    Author     : weatherly
*/

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.immagine_liste {
    width: 300px;
    height: 200px;
    border-radius: 4px 4px 0 0;
}

.liste {
    padding-left: 0px !important;
}

div.liste:nth-child(3n+1) {
    clear: left;
}

.addList, .addShop {
    margin-bottom: 10px !important;
}

.lista1, .shop1 {
    margin-left: 6px;
    margin-bottom: 0;
}

.crea-lista, .crea-shop {
    border: 1px solid #CCC;
    border-radius: 4px;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: 10px;
}

.myButton{
    border-radius: 0 4px 4px 0 !important;
    border: none;
    color: white;
    outline: 0;
    display: inline-block;
    background-color: #222;
    text-align: center;
    cursor: pointer;
    width: 30px;
    max-width: 40px;
    font-size: 20px;
    border-color: transparent;
}

.myButton3 {
    border-radius: 4px !important;
    border: none;
    color: white;
    outline: 0;
    display: inline-block;
    background-color: #222 !important;
    text-align: center;
    cursor: pointer;
    border-color: transparent !important;
}

.myButton:hover {
    opacity: 0.7;
}

.myButton3:hover {
    opacity: 0.7;
}

.carousel {
    width: 300px;
    height: 200px;
}

.panel-heading {
    background-color: #222 !important;
    border-color: #222 !important;
    border-radius: 0 !important;
}

.panel {
    border-color: #222 !important;
    border-radius: 0 0 4px 4px !important;
    width: 300px;
}

.small {
    margin-left: 3px !important;
    border-radius: 5px !important;
}

.container {
    width: inherit !important;
}

.lista
{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.lista li
{
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.lista li.left .list-body
{
    margin-left: 60px;
}

.lista li.right .list-body
{
    margin-right: 60px;
}


.lista li .list-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .lista .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    max-height: 250px;
}

.scegli_negozio {
    color: white;
    text-decoration: underline;
}

.shop-header{
    height: 200px;
}

.shop-header>.carousel>.carousel-inner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img_wrapper {
    position: relative;
    height: 200px;
    width: 300px;
    display:inline-block;
}

.img_description {
    border-radius: 4px 4px 0 0;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background: rgba(0,0,0, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img_wrapper:hover .img_description {
    visibility: visible;
    opacity: 1;
}

.descrizione {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.panel-primary{    
    display:inline-block;

}

.row-lista{
    text-align: center;
}

.newLista{
    display: inline-block;
}

.aggiungi {
    margin-left: 40px;
    margin-top: 13px;
}

.addTo {
    float: right;
    margin-right: 5px;
    height: 25px;
    width: 27px;
}

.panel-btn{
    margin-top: 7px;
}

.pageFrom {
    font-size: 30px;
}

.modal-title {
    color: #222;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

td, th {
    border: 1px solid;
    border-color: #CCC;
    text-align: left;
    padding: 8px;
    color: #222;
}

th, td {
    text-align: center !important;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.search {
    color: #222;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descrizione {
    margin-left: 0;
}