/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-ago-2018, 18.55.28
    Author     : weatherly
*/

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.myButton {
    border-radius: 5px;
    border: none;
    color: white;
    outline: 0;
    display: inline-block;
    background-color: #222;
    text-align: center;
    cursor: pointer;
    width: 30px;
    max-width: 40px;
    font-size: 20px;
}