/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-giu-2018, 17.21.09
    Author     : weatherly
*/

#category-select {
    display: inline !important;
    width: auto !important;  
}

.main {
    padding-top: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group > input {
  padding-left: 5px;
}


.button1 {
    border-radius: 5px;
    border: none;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: white !important;
    margin-bottom: 10px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    background-color: #222;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.button2 {
    max-width: 200px;
}


.button1:hover {
    opacity: 0.7;
}

/*.descrizione {
    height: 60px !important;
}*/


/*for the upload picture*/

.inputfile {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    opacity: 0.7;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}