<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--I seguenti tre parametri servono per connettersi al database mysql-->
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://eu-cdbr-west-02.cleardb.net:3306/heroku_7d9bc6f76d5ec4d</param-value>
        <!--in Services creare connessione in Drivers con MySQL(Connector/J driver)
				ma anche no, funziona uguale-->
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>b8d4be00180e53</param-value>
    </context-param>
    <context-param>
        <param-name>dbpsw</param-name>
        <param-value>48d163c7</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.webproject2018.listeners.WebAppContextListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.webproject2018.job_scheduler.JobScheduler</listener-class>
    </listener>
    <servlet>
        <servlet-name>ShoppingListsServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.ShoppingListsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.CreateListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myList</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.myList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myProducts</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.myProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopCategories</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.shopCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prodotti</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.prodotti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingListsServlet</servlet-name>
        <url-pattern>/ShoppingListsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.CreateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListServlet</servlet-name>
        <url-pattern>/CreateListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myList</servlet-name>
        <url-pattern>/myList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myProducts</servlet-name>
        <url-pattern>/myProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopCategories</servlet-name>
        <url-pattern>/shopCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prodotti</servlet-name>
        <url-pattern>/prodotti</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>/tlds/productCard</taglib-uri>
            <taglib-location>/tlds/productCard.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tlds/newList</taglib-uri>
            <taglib-location>/tlds/newList.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tlds/shopCard</taglib-uri>
            <taglib-location>/tlds/shopCard.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tlds/shopCategoriesCard</taglib-uri>
            <taglib-location>/tlds/shopCategoriesCard.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
