<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--I seguenti tre parametri servono per connettersi al database mysql-->
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://gg18.ml:3306/cucciolo</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>cucciolo</param-value>
    </context-param>
    <context-param>
        <param-name>dbpsw</param-name>
        <param-value>1EEFA02E-D313-4589-AFAD-92FAD1741B20</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.webproject2018.listeners.WebAppContextListener</listener-class>
    </listener>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.webproject2018.job_scheduler.JobScheduler</listener-class>
    </listener>
    <servlet>
        <servlet-name>ShoppingListsServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.ShoppingListsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateListServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.CreateListServlet</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myList</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.myList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myProducts</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.myProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shopCategories</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.shopCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prodotti</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.prodotti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newList</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.newList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newProduct</servlet-name>
        <servlet-class>it.webproject2018.servlets.pages.newProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteListServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.DeleteListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareGetUsers</servlet-name>
        <servlet-class>it.webproject2018.servlets.ShareGetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeolocationServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.GeolocationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareListInsertUser</servlet-name>
        <servlet-class>it.webproject2018.servlets.ShareListInsertUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareProductGetUsers</servlet-name>
        <servlet-class>it.webproject2018.servlets.ShareProductGetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShareProductInsertUser</servlet-name>
        <servlet-class>it.webproject2018.servlets.ShareProductInsertUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingListsServlet</servlet-name>
        <url-pattern>/ShoppingListsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserDetailsServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.ChangeUserDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserDetailsServlet</servlet-name>
        <url-pattern>/ChangeUserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeUserPicServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.ChangeUserPicServlet</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeUserPicServlet</servlet-name>
        <url-pattern>/ChangeUserPicServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.CreateProductServlet</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateShopsServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.CreateShopsServlet</servlet-class>
        <multipart-config/>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateShopsServlet</servlet-name>
        <url-pattern>/CreateShopsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>it.webproject2018.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateListServlet</servlet-name>
        <url-pattern>/CreateListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myList</servlet-name>
        <url-pattern>/myList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myProducts</servlet-name>
        <url-pattern>/myProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shopCategories</servlet-name>
        <url-pattern>/shopCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prodotti</servlet-name>
        <url-pattern>/prodotti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newList</servlet-name>
        <url-pattern>/newList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newProduct</servlet-name>
        <url-pattern>/newProduct</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>it.webproject2018.filters.AuthenticationFilter</filter-class>
        <init-param>
            <param-name/>
            <param-value/>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/messages.jsp</url-pattern>
        <url-pattern>/messages</url-pattern>
        <url-pattern>/newProduct.jsp</url-pattern>
        <url-pattern>/newProduct</url-pattern>
        <url-pattern>/myProducts.jsp</url-pattern>
        <url-pattern>/myProducts</url-pattern>
        <url-pattern>/profile.jsp</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/logout.jsp</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/newShop.jsp</url-pattern>
        <url-pattern>/newShop</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>DeleteListServlet</servlet-name>
        <url-pattern>/DeleteListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareGetUsers</servlet-name>
        <url-pattern>/ShareGetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeolocationServlet</servlet-name>
        <url-pattern>/GeolocationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareListInsertUser</servlet-name>
        <url-pattern>/ShareListInsertUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareProductGetUsers</servlet-name>
        <url-pattern>/ShareProductGetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShareProductInsertUser</servlet-name>
        <url-pattern>/ShareProductInsertUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>/tlds/productCard</taglib-uri>
            <taglib-location>/tlds/productCard.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tlds/newList</taglib-uri>
            <taglib-location>/tlds/newList.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tlds/shopCard</taglib-uri>
            <taglib-location>/tlds/shopCard.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/tlds/shopCategoriesCard</taglib-uri>
            <taglib-location>/tlds/shopCategoriesCard.tld</taglib-location>
        </taglib>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
